:root {
    --color1: white;
    --color2: black;
    --color3: rgb(8, 228, 213);
    --color4: whitesmoke;
    --color5: black;
}

.dark_mode {
    --color1: rgb(8, 228, 213);
    --color2: white;
    --color3: black;
    --color4: black;
    --color5: black;
}

body {
    background-color: var(--color4);
}
#packing{
    max-width: 400px;
    max-height: 10000px;
    background-color: var(--color3);
    padding: 50px;
    text-align: center;
    border: 3px solid var(--color2);
    margin: 15% auto 0px;
}
.divs {
    max-width: 400px;
    max-height: 10000px;
    background-color: var(--color3);
    padding: 50px;
    text-align: center;
    border: 3px solid var(--color2);
}

.buttons{
    cursor: pointer;
    color: var(--color5);
    background-color: var(--color1);
    font-size: large;
    border: 3px solid var(--color2);
    margin: 1px auto 1%;
}
#Zeit {
    color: var(--color2);
    background-color: var(--color3);
    border: 3px solid var(--color2);
    font-size: clamp(1rem, 1.5vw, 2rem);
}
